@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Rock+3D&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


body {
  background: #A68167;
  margin: 0;
}

section {
  display: flex;
}

.title-container {
  background-color: #322111;
  width: 400px;
  margin: 0;
  /* height: 100vh; */

}

.main-container {
  margin-left: 50px;
  margin-top: 50px;
}

.title-container h1 {
  font-family: "Rock 3D", serif;
  font-weight: 400;
  font-style: normal;
  color: #A68167;
  font-size: 96pt;
  overflow-wrap: break-word;
  text-transform: uppercase;
  margin: 0;
  text-align: center;

}

/* .filter-container {
  margin-left: 50px;
  margin-top: 50px;
} */

.sort-container h2 {
  font-family: "DynaPuff", serif;
  color: #322111;
  width: 120px;
}

.sort-by {
  display: flex;
  width: 600px;
  gap: 20px;
  align-items: center;
}

button {
  background-color: #322111;
  color: #D2C1AD;
  font-family: "DynaPuff", serif;
  height: 30px;
  min-width: 100px;
  border-radius: 40px;
  border: none;

}

.filter-way {
  display: flex;
  width: 600px;
  gap: 20px;
  align-items: center;
}

#library-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  background-color: #322111;
  border-radius: 40px;
  width: 30%;
  max-width: 500px;
  /* height: 500px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0;
}

.cover-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "DynaPuff", serif;
  color: #D2C1AD;
  font-size: 14pt;
  height: 50%;

}

.cover-container h2 {
  margin: 5px 0 0 0;
  padding: 0 15px;
  text-align: center;
  /* width: 100%; */
}


img {
  width: 200px;
  height: 100px;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 0;

}

.author-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  font-family: "DynaPuff", serif;
  color: #A68167;
}

.author-info-container h3 {
  margin: 0;
  font-size: 16pt;

}

.author-info-container h4 {
  margin: 0;
  text-transform: uppercase;
  font-size: 12pt;
}

.description-container {
  font-family: "Sour Gummy", serif;
  color: #D2C1AD;
  font-size: 12pt;
}

.description-container p {
  padding: 10px 20px;
  margin: 0;
}